In [1]:
%load_ext autoreload
%autoreload 2

In [320]:
from hfgtools import *

In [321]:
am, am_gdf = get_am_gdf(oa=oa, am=am)

In [318]:
am_gdf.columns

Index(['KeyMember', 'KeyApplication', 'NameLast', 'NameMiddle', 'NameFirst',
       'SSN', 'DOB', 'Sex', 'Disabled', 'Relationship', 'Citizenship', 'Race',
       'Ethnicity', 'Age', 'ID', 'Language', 'Address', 'Longitude',
       'Latitude', 'Location', 'geometry'],
      dtype='object')

In [226]:
am = reorganize_am(am)

In [178]:
am.columns

Index(['KeyMember', 'KeyApplication', 'NameLast', 'NameMiddle', 'NameFirst',
       'SSN', 'DOB', 'Sex', 'Disabled', 'Relationship', 'Citizenship', 'Race',
       'Ethnicity', 'Age', 'ID'],
      dtype='object')

In [179]:
len(am.ID.unique())

11698

In [306]:
oa, oa_gdf = get_oa_gdf(oa)

In [309]:
test = am.merge(oa_gdf[['KeyApplication', 'Language', 'Address', 'Longitude', 'Latitude', 'Location']], on = 'KeyApplication')

In [310]:
test.head()

,KeyMember,KeyApplication,NameLast,NameMiddle,NameFirst,SSN,DOB,Sex,Disabled,Relationship,Citizenship,Race,Ethnicity,Language,Address,Longitude,Latitude,Location
0,12189309,5419013,Link,R,Jennifer,600981093.0,1988-12-04,F,0,H,EC,1,0,eng,"1071 Fairfield Ave Apt 100, Eugene, OR 97402",-123.1473081,44.0721588,"1071 Fairfield Ave #100, Eugene, OR 97402, USA"
1,12189310,5419013,Parris,NaN,Michael,613268586.0,1989-01-09,M,0,K,EC,1,0,eng,"1071 Fairfield Ave Apt 100, Eugene, OR 97402",-123.1473081,44.0721588,"1071 Fairfield Ave #100, Eugene, OR 97402, USA"
2,12189311,5419013,Parris,T,Elliott,661994320.0,2019-08-03,M,0,D,EC,1,0,eng,"1071 Fairfield Ave Apt 100, Eugene, OR 97402",-123.1473081,44.0721588,"1071 Fairfield Ave #100, Eugene, OR 97402, USA"
3,12189320,5419021,Adair,NaN,Robert,536393627.0,1998-01-27,M,0,H,EC,1,1,eng,"4060 W Amazon Dr # 180, Eugene, OR 97405",-123.0774893,44.0110251,"4060 W Amazon Dr #180, Eugene, OR 97405, USA"
4,12189321,5419021,Hall,NaN,Bethany,543518836.0,1997-09-22,F,0,S,EC,1,0,eng,"4060 W Amazon Dr # 180, Eugene, OR 97405",-123.0774893,44.0110251,"4060 W Amazon Dr #180, Eugene, OR 97405, USA"

In [261]:
oa.shape

(25718, 59)

In [262]:
len(oa.KeyApplication.unique())

25718

In [180]:
len(oa.ID.unique())

6159

In [20]:
am.loc[am.KeyApplication==oa.KeyApplication.unique()[1],]

,KeyMember,KeyApplication,NameLast,NameMiddle,NameFirst,SSN,DOB,Sex,Disabled,Relationship,Citizenship,Race,Ethnicity,Age,ID
3,12189320,5419021,Adair,,Robert,536393627.0,1998-01-27,M,0,H,EC,1,1,25,Robert--Adair-25-536393627
4,12189321,5419021,Hall,,Bethany,543518836.0,1997-09-22,F,0,S,EC,1,0,25,Bethany--Hall-25-543518836
5,12189322,5419021,Adair,,Octavia,6971116.0,2020-02-04,F,0,Y,EC,1,1,3,Octavia--Adair-3-6971116

In [99]:
am.Disabled.value_counts().rename_axis('diabled').reset_index(name='counts')

   diabled  counts
0        0   34796
1        1   14581

In [111]:
len(am.ID.unique())

11698

In [109]:
amu = am.drop_duplicates(subset=['ID'])

In [110]:
amu.shape

(11698, 15)

In [105]:
am.ID.value_counts().rename_axis('id').reset_index(name='counts')

                                     id  counts
0        Preston-J-Decarlo-36-573991014      53
1           Tyesha-R-Brady-19-540674261      45
2           Ngoc--Crawford-77-557295080      45
3         Dayna-E-Mitchell-64-573110017      44
4            Devin-A-Brady-28-541456919      42
...                                 ...     ...
11693        Dustin-T-Hill-37-429771305       1
11694  anthony--youngblood-41-371907067       1
11695        Brett-E-Lemas-62-558117910       1
11696      Kristie-M-Jones-33-542338146       1
11697       Julia-m-Taylor-41-353784252       1

[11698 rows x 2 columns]

In [100]:
14581/am.shape[0]

0.29529943090912775

In [112]:
amu[amu.Age < 18].shape[0]/amu.shape[0]

0.3287741494272525

In [119]:
amu[amu.Disabled == 1].shape[0]/amu.shape[0]

0.2853479227218328

In [113]:
amu.Citizenship.value_counts().rename_axis('citizenship').reset_index(name='counts')

  citizenship  counts
0          EC   11378
1          EN     223
2          IN      57
3          PV      31
4          ND       3
5          IC       3

In [114]:
1 - 11378/amu.shape[0]

0.02735510343648484

In [181]:
amu.Race.value_counts().rename_axis('race').reset_index(name='counts')

          race  counts
0            1    8243
1            2    1053
2            6     753
3            3     337
4         1, 3     197
..         ...     ...
85     5, 1, 2       1
86  3, 5, 6, 1       1
87     3, 2, 5       1
88        5, 6       1
89     1, 4, 2       1

[90 rows x 2 columns]

In [118]:
1 - 8243/amu.shape[0]

0.2953496324157976

In [116]:
1053/(amu.shape[0]-8243)

0.30477568740955135

In [78]:
am.Ethnicity.value_counts().rename_axis('ethnicity').reset_index(name='counts')

   ethnicity  counts
0          0   42013
1          1    7364

In [79]:
am.Age.value_counts().rename_axis('age').reset_index(name='counts')

    age  counts
0     1    1296
1     2    1290
2     4    1219
3     6    1151
4     3    1141
..  ...     ...
86   88       9
87   87       6
88   85       4
89   94       3
90   93       1

[91 rows x 2 columns]

In [322]:
oa.LegalCity.value_counts().rename_axis('city').reset_index(name='counts')

              city  counts
0           Eugene   14311
1      Springfield    5191
2    Cottage Grove     703
3    Junction City     513
4         Florence     439
..             ...     ...
405         Rialto       1
406        Tangent       1
407        Grenada       1
408        Lilburn       1
409    Sn Bernrdno       1

[410 rows x 2 columns]

In [16]:
idcnt = oa.ID.value_counts().rename_axis('id').reset_index(name='counts')

In [17]:
idcnt.to_csv(path + '\\output\\id_count.csv', index=False)

In [18]:
idcnt.shape

(6159, 2)

In [63]:
idcnt.counts.unique()

array([45, 39, 34, 33, 32, 31, 30, 29, 28, 27, 26, 25, 24, 23, 22, 21, 20,
       19, 18, 17, 16, 15, 14, 13, 12, 11, 10,  9,  8,  7,  6,  5,  4,  3,
        2,  1], dtype=int64)

In [62]:
idcnt[idcnt.counts>1].shape[0]/idcnt.shape[0]

0.5101477512583211

In [27]:
legalAdr = pd.read_csv(path + '\\output\\legal_address.csv')

In [47]:
mailAdr = pd.read_csv(path + '\\output\\mail_address.csv')

In [46]:
legalAdr.head()

,KeyApplication,LegalAddress1,LegalAddress2,LegalCity,LegalState,LegalZIP,Address
0,5419013,1071 FAIRFIELD AVE,APT 100,EUGENE,OR,97402,"1071 Fairfield Ave Apt 100, Eugene, OR 97402"
1,5419021,4060 W AMAZON DR,# 180,EUGENE,OR,97405,"4060 W Amazon Dr # 180, Eugene, OR 97405"
2,5419022,15360 SE STARK ST,NaN,PORTLAND,OR,97233,"15360 Se Stark St , Portland, OR 97233"
3,5419024,2390 OAK ST APT 4,NaN,FLORENCE,OR,97439,"2390 Oak St Apt 4 , Florence, OR 97439"
4,5419040,1071 FAIRFIELD AVE,APT 100,EUGENE,OR,97402,"1071 Fairfield Ave Apt 100, Eugene, OR 97402"

In [48]:
mailAdr.head()

,KeyApplication,MailAddress1,MailAddress2,MailCity,MailState,MailZIP,Address
0,5421430,3340 ALDER ST,NaN,EUGENE,OR,97405.0,"3340 Alder St , Eugene, OR 97405"
1,5421816,3340 ALDER ST,NaN,EUGENE,OR,97405.0,"3340 Alder St , Eugene, OR 97405"
2,5423643,3944 JASPER RD,NaN,SPRINGFIELD,OR,97478.0,"3944 Jasper Rd , Springfield, OR 97478"
3,5423801,3944 JASPER RD,NaN,SPRINGFIELD,OR,97478.0,"3944 Jasper Rd , Springfield, OR 97478"
4,5431570,3302 SE 122ND AVE,APT 2,PORTLAND,OR,97236.0,"3302 Se 122Nd Ave Apt 2, Portland, OR 97236"

In [30]:
legalAdr.loc[legalAdr.KeyApplication.isin(oa.loc[oa.ID==idcnt.loc[0,:].values[0], 'KeyApplication'].values), 'Address'].unique()

array(['2574 Sorrel Way , Eugene, OR 97401'], dtype=object)

In [26]:
oa.loc[oa.ID==idcnt.loc[0,:].values[0], 'KeyApplication'].values

45

In [34]:
len(legalAdr.KeyApplication.unique())

24700

In [31]:
4347+32

4379

In [22]:
(4347+32)/6159

0.7109920441630134

In [61]:
24700/(len(oa.KeyApplication.unique()))

0.9604168286803018

In [57]:
a_w_adr = list(legalAdr.loc[legalAdr.Address.isin(loc.Address.values), 'KeyApplication'].unique()) + list(mailAdr.loc[mailAdr.Address.isin(loc.Address.values), 'KeyApplication'].unique())

In [60]:
len(a_w_adr)/(len(oa.KeyApplication.unique()))

0.9616610933976203

In [65]:
len(aqh.loc[aqh.Preference=='P7', 'KeyApplication'].unique())

25718

In [66]:
oa.loc[oa.KeyApplication.isin(mailAdr.loc[mailAdr.Address == '3340 Alder St , Eugene, OR 97405', 'KeyApplication'].values), 'ID'].unique()

array(['Makayla-K-Elliott-24-611064570'], dtype=object)

In [123]:
adr2check=legalAdr.loc[legalAdr.KeyApplication.isin(am.loc[am.ID=='Preston-J-Decarlo-36-573991014', 'KeyApplication'].values), 'Address'].unique()

In [126]:
adr2check

array(['341 E 12Th Ave , Eugene, OR 97401',
       '341 E 12Th Ave 573-99-1014, Eugene, OR 97401'], dtype=object)

In [125]:
loc.loc[loc.Address.isin(adr2check), 'Location']

47            341 E 12th Ave, Eugene, OR 97401, USA
1134    341 E 12th Ave #1014, Eugene, OR 97401, USA
Name: Location, dtype: object

In [127]:
ID2check = []

In [130]:
ID2check[1]

'Ashley-D-Sullivan-36-556954053'

In [196]:
for ID in amu.ID.values:
    adr2check=legalAdr.loc[legalAdr.KeyApplication.isin(am.loc[am.ID==ID, 'KeyApplication'].values), 'Address'].unique()
    if len(adr2check) > 2:
        #ID2check.append(ID)
        ggadr = list(loc.loc[loc.Address.isin(adr2check), 'Location'].values)
        #if ggadr[0] == ggadr[1]:
        print(f"address to check is {list(adr2check)} and google found {ggadr}")
        print("\n")

address to check is ['311 Sweet Lane , Cottage Grove, OR 97424', '2515 Frontier Dr Apt, Eugene, OR 97401', '2515 Frontier Dr Apt 17, Eugene, OR 97401'] and google found ['311 Sweet Ln, Cottage Grove, OR 97424, USA', '2515 Frontier Dr #17, Eugene, OR 97401, USA', '2515 Frontier Dr, Eugene, OR 97401, USA']


address to check is ['311 Sweet Lane , Cottage Grove, OR 97424', '2515 Frontier Dr Apt 17, Eugene, OR 97401', '2515 Frontier Dr Apt, Eugene, OR 97401'] and google found ['311 Sweet Ln, Cottage Grove, OR 97424, USA', '2515 Frontier Dr #17, Eugene, OR 97401, USA', '2515 Frontier Dr, Eugene, OR 97401, USA']


address to check is ['311 Sweet Lane , Cottage Grove, OR 97424', '2515 Frontier Dr Apt 17, Eugene, OR 97401', '2515 Frontier Dr Apt, Eugene, OR 97401'] and google found ['311 Sweet Ln, Cottage Grove, OR 97424, USA', '2515 Frontier Dr #17, Eugene, OR 97401, USA', '2515 Frontier Dr, Eugene, OR 97401, USA']


address to check is ['448 W. 12Th 3, Eugene, OR 97408', '448 W. 12Th 3, Eugene, OR 97401', '448 W 12Th Ave Apt 3, Eugene, OR 97401'] and google found ['448 W 12th Ave #3, Eugene, OR 97401, USA', '448 W 12th Ave #3, Eugene, OR 97401, USA', '448 W 12th Ave #3, Eugene, OR 97401, USA']

In [129]:
len(ID2check)

127

In [133]:
list(loc.loc[loc.Address.isin(['1880 Cleveland St Apt 1, Eugene, OR 97405']), 'Location'].values)

['1880 Cleveland St APT 1, Eugene, OR 97405, USA']

In [ ]:
['4175 Wagner St 432, Eugene, OR 97402', '4175 Wagoner St Apt G432, Eugene, OR 97402']

In [68]:
homeless=aqh.loc[(aqh.Preference=='P7') & (aqh.Answer=='Yes'), 'KeyApplication'].values

In [70]:
len(aqh.loc[(aqh.Preference=='P5') & (aqh.Answer=='Yes') & (aqh.KeyApplication.isin(homeless)), 'KeyApplication'].unique())

746