In [1]:
%load_ext autoreload
%autoreload 2

In [46]:
from hfgtools import *

In [3]:
counties = gpd.read_file(path+'\\Homes_for_Good\\Homes_for_Good.gdb', layer='Oregon_Counties')

In [67]:
oa_gdf = gpd.read_file(path+'\\output\\online_application.shp')

In [6]:
counties.shape

(36, 15)

In [7]:
len(counties.GEOID.unique())

36

In [68]:
pip_df = get_pip(points=oa_gdf, polygon=counties, idcol='GEOID')

In [61]:
pip_df.head()

,Address,Longitude,Latitude,Location,GEOID
0,"1112 Sw Hurbert St 3, Newport, OR 97365",-124.0549907,44.6312174,"1112 SW Hurbert St APT 3, Newport, OR 97365, USA",41041
1,"120 Sw Greenwood Way , Waldport, OR 97394",-124.0637819,44.42108,"120 SW Greenwood Way, Waldport, OR 97394, USA",41041
2,"2416 N Chinook Ln , Otis, OR 97368",-123.9084197,45.0046926,"2416 N Chinook Ln, Otis, OR 97368, USA",41041
3,"2897 Ne 47Th St F06, Lincoln City, OR 97367",-123.9983121,45.0005757,"2897 NE 47th St f06, Lincoln City, OR 97367, USA",41041
4,"1014 Ne Highway 101 # 216, Lincoln City, OR 97367",-124.0133368,44.9728463,"1014 NE Hwy 101 #216, Lincoln City, OR 97367, USA",41041

In [69]:
cnt = pip_df.GEOID.value_counts().rename_axis('county').reset_index(name='counts')

In [70]:
cnt.head()

  county  counts
0  41039   21754
1  41047     205
2  41019     205
3  41051     197
4  41043     159

In [71]:
cnt.to_csv(path+'\\output\\county_address_count.csv', index=False)

In [22]:
zip_shp.shape

(39, 3)

In [24]:
len(zip_shp.ZipCode.unique())

39

In [72]:
zip_df = get_pip(points=oa_gdf, polygon=zip_shp, idcol='ZipCode')

In [73]:
zipcnt = zip_df.ZipCode.value_counts().rename_axis('zipcode').reset_index(name='counts')

In [74]:
zipcnt.to_csv(path + '\\output\\zipcode_count.csv', index=False)